body { /*define the envierment of the calculator*/
  align-items: center;
  background-color: #111;
  display: flex;
  height: 100vh;
  justify-content: center;
  margin: 0;
  padding: 0;
}
h3 { /*define the text of the calculator (the section that show the equation*/
  color: inherit;
  font-weight: 100;
  font-size: 24px;
  margin: 0;
  padding-bottom: 15px;
  overflow-x: scroll; /*keep the text in a one liner*/
}
button { /*define the standard*/
  width: 50px;
  max-width: 50px;
  background: #66bb6a;
  border-radius: 0px;
  border: 1px solid #00c853;
  font-size: 28px;
  padding: 5px 10px 10px;
}
button:hover, button:active {
  background: #2e7d32;
  color: #111;
}
button:disabled {
  background: #b9f6ca;
}
button:active {
  outline: 1.3px solid #00c853;
}
button + button { /*define the space between two buttons*/
  margin-left: 3px;
}
.calculatorBody {
  background: #a5d6a7;
  width: 154px;
}
.keypadLine { /*define one line of keys in the calculator*/
  display: flex;
  justify-content: space-between;
  width: inherit;
  max-width: inherit;
}
.separatingLine { /*define the line separating two keyboard lines*/
  height: 3px;
}
